<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title data-cy="activityCardTitle">
            <span *ngIf="isLoading">Loading ...</span>
            <span *ngIf="!isLoading">{{startup.name}}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" [ngModel]="startup?.name" (ngModelChange)="updateStartup({name: $event})"
                data-cy="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Motto</mat-label>
            <input matInput name="motto" [ngModel]="startup?.motto" (ngModelChange)="updateStartup({motto: $event})"
                data-cy="motto">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Product</mat-label>
            <textarea matInput rows="10" name="product" [ngModel]="startup?.product"
                (ngModelChange)="updateStartup({product: $event})">
        </textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="deleteStartup()" data-cy="deleteActivityBtn" style="color: red;">
            <mat-icon color="warn">delete</mat-icon>
            DELETE
        </button>
    </mat-card-actions>
</mat-card>